<div fxLayout="row">
    <mat-card>
        <mat-card-title>The Title</mat-card-title>
        <mat-card-subtitle> The Sub Title </mat-card-subtitle>
        <mat-card-content> the content write here!! </mat-card-content>
        <img src="../assets/img/service-repair-ar.png" mat-card-image>	
        
    </mat-card>

    <mat-card>
        <mat-card-title>The Title</mat-card-title>
        <mat-card-subtitle> The Sub Title </mat-card-subtitle>
        <mat-card-content> the content write here!! </mat-card-content>
        <img src="../assets/img/service-repair-ar.png" mat-card-image>	
        
    </mat-card>

    <mat-card>
        <mat-card-title>The Title</mat-card-title>
        <mat-card-subtitle> The Sub Title </mat-card-subtitle>
        <mat-card-content> the content write here!! </mat-card-content>
        <img src="../assets/img/service-repair-ar.png" mat-card-image>	
        
    </mat-card>
</div>