<div fxLayout="row warp" fxFlex fxLayoutAlign="space-between" fxLayoutGap="20px" fxLayout.xs="column">
    <mat-card>
        <mat-card-title>The Title 1</mat-card-title>
        <mat-card-subtitle> The Sub Title </mat-card-subtitle>
        <mat-card-content> the content write here!! </mat-card-content>
        <img src="../assets/img/service-repair-ar.png" mat-card-image>

    </mat-card>

    <mat-card>
        <mat-card-title>The Title 2</mat-card-title>
        <mat-card-subtitle> The Sub Title </mat-card-subtitle>
        <mat-card-content> the content write here!! </mat-card-content>
        <img src="../assets/img/service-repair-ar.png" mat-card-image>

    </mat-card>

    <mat-card>
        <mat-card-title>The Title 3</mat-card-title>
        <mat-card-subtitle> The Sub Title </mat-card-subtitle>
        <mat-card-content> the content write here!! </mat-card-content>
        <img src="../assets/img/service-repair-ar.png" mat-card-image>

    </mat-card>

    <mat-card>
        <mat-card-title>The Title 4</mat-card-title>
        <mat-card-subtitle> The Sub Title </mat-card-subtitle>
        <mat-card-content> the content write here!! </mat-card-content>
        <img src="../assets/img/service-repair-ar.png" mat-card-image>

    </mat-card>

    <mat-card>
        <mat-card-title>The Title 4</mat-card-title>
        <mat-card-subtitle> The Sub Title </mat-card-subtitle>
        <mat-card-content> the content write here!! </mat-card-content>
        <img src="../assets/img/service-repair-ar.png" mat-card-image>

    </mat-card>



</div>